/* fonte de todo html */
*{
    font-family: "Carlito";
}   

/* Divisão entre o topo da pagina com o conteudo */
#corpot
{
    margin-top: 6rem;
}
    
/* main'.blade */
    
    /*NavBar: Start*/

        /*Cor navbar e borda*/
        #nav.navbar
        {
            background-color: #1c1b1d;
            border: 0;
            border-bottom: 5px;
            border-color: rgb(175, 5, 169);
            border-style: outset; 
        }

        /*Cor do fundo do icone do usuario*/
        #menuButton.btn-custom
        {
            background-color: rgb(175, 5, 169);   
        }

        #sidebar-linhaCima.btn-custom {
            background-color: #1c1b1d;
            border: 0;
            padding-top: 15px;
            border-bottom: 5px;
            border-color: rgb(175, 5, 169);
            border-style: outset;

        } 
    /*NavBar: End*/


    /*Botões OffCanvas: Start*/

        /*Cor dos Botões*/
        #botoesMenus.btn-custom 
        {
            background-color: #b811b8;
            color: #ffffff; /* opcional: define a cor do texto para branco */
        }

        #botoesMenus.btn-custom:hover 
        {
            background-color: #701570; /* cor diferente quando o mouse está em cima */
            color: #ffffff;
        }


    /*Botões OffCanvas: End*/

/* main.blade */

/* index.blade */

    /* Titulos da pagina */
    #tituloPagina
    {
        text-align: center; 
        padding-bottom: 2rem; 
        font-family:JetBrains Mono;
    }

    /* Titulos da pagina */
    #tituloCardlogin
    {
        text-align: center; 
        font-size: larger;
        font-family:JetBrains Mono;
    }

    #tituloCardIndex1
    {
        text-align: start; 
        font-size: larger;
        font-weight: bold;
        font-family:JetBrains Mono;
    }

    #tituloCardIndex2
    {
        text-align: start; 
        font-size: larger;
        font-weight: normal;
        font-family:JetBrains Mono;
    }
    
    /* Personalização dos card do index */
    #cardbody1
    {
        border: 0;
        border-radius: 15px;
        font-weight: bold;
        color: #ffffff; 
        background: linear-gradient(270deg, rgba(255, 64, 129, 0.6) 0%, rgba(255, 64, 129, 0) 100%), #7C4DFF;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.281);
    }

    #cardbody2
    {
        border: 0;
        border-radius: 15px;
        font-weight: normal;
        color: #ffffff; 
        background: linear-gradient(to bottom right, rgb(216, 86, 241) 10%,rgb(31, 13, 78) 100%);
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.281);
    }

    
    #cardtext {
        background-color: #ffffff;
        color: #1c1b1d;
        font-weight: normal;
        text-align: justify;
        font-size: 16px;
        padding: 20px;
        padding-top: 10px;
        line-height: 23px;

        border-radius: 10px 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        max-height: 150px; /* define o limite de 150 pixels de altura */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6; /* limita o número de linhas */
      }
      
      .destaque {
        transform: scale(1.1); /* aumenta o tamanho em 10% */
        z-index: 1; /* coloca o card em primeiro plano */
        border: 2px solid #f00; /* adiciona uma borda vermelha */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* adiciona uma sombra */
      }
      

    
/* index.blade */


/* login.blade */

    /*Form de Criar a area de login: Start*/

    /*Cor da Caixa de login*/
    #cardLogin.bg-gradient-custom 
    {     
        background: linear-gradient(to bottom right, rgb(194, 61, 221) 10%,rgb(48, 23, 112) 100%);
        color: #ffffff;  
    }

    #cardLogin.card 
    {
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.281);
    }
      

    /*Form de Criar a area de login: End*/ 

/* login.blade */
