/* fonte de todo html */
*{
    font-family: "Carlito";
    
}   

/* Divisão entre o topo da pagina com o conteudo */
#corpot
{
    margin-top: 7rem;
    border-image: fill;
}
 
/* main*/
    
    /*NavBar*/

        /* Cor navbar e borda */
        #nav.navbar
        {
            height: 75px;
            background-color: #1c1b1d;
            border: 0;
            border-bottom: 6px;
            border-color: rgb(255, 0, 247);
            border-style: outset; 
        }

        /* Cor dos Botões de entrar e login da navbar */
        #botoesEntrarNav.btn-custom 
        {
            color: #ffffff; /* opcional: define a cor do texto para branco */
            border-radius: 30px;
        }

        #botoesEntrarNav.btn-custom:hover 
        {
            background-color: #921992; /* cor diferente quando o mouse está em cima */
            color: #ffffff;
            transform: scale(1.01);
            transition: all 0.01s ease-in-out;
        }

        #botoesCriarCoNav.btn-custom 
        {
            background-color: #7e18ad;
            border-radius: 30px;
            color: #ffffff; /* opcional: define a cor do texto para branco */
        }

        #botoesCriarCoNav.btn-custom:hover 
        {
            background-color: #ff00ff; /* cor diferente quando o mouse está em cima */
            color: #000000;
            transform: scale(1.01);
            transition: all 0.01s ease-in-out;
        }

    /* NavBar */


    /* OffCanvas */
        
        /* Titulo do Offcanvas */
        #tituloInicialSB
        {
            font-family:JetBrains Mono;
        }    


        /* Barra de menu */
        #sidebar-linhaCima.btn-custom {
            background-color: #1c1b1d;
            border: 0;
            border-bottom: 6px;
            border-color: rgb(216, 8, 209);
            border-style: outset;
        } 

        /* Formatação das imagens */
        #botoesImg
        {
            margin-right: 10px;
        }

        /* Cor dos Botões */
        #botoesMenus.btn-custom 
        {
            color: #ffffff; /* opcional: define a cor do texto para branco */
        }

        /* Cor dos Botão de sair */
        #botoesMenusS.btn-custom
        {
            background-color: #b811b8;
            color: #ffffff;
        }  

        /* Cor dos Botões: Hover */
        #botoesMenus.btn-custom:hover 
        {
            background-color: #b811b8; /* cor diferente quando o mouse está em cima */
            color: #ffffff;
            transform: scale(1.01);
            transition: all 0.01s ease-in-out;
        }

        /* Cor dos Botão de sair: Hover */
        #botoesMenusS.btn-custom:hover 
        {
            background-color: #fa294c;
            color: #ffffff;
            transform: scale(1.01);
            transition: all 0.01s ease-in-out;
        }

    /* OffCanvas */

/* main */



/* login */

    /* Form de Criar a area de login */

    /* Cor da Caixa de login*/
    #cardLogin.bg-gradient-custom 
    {     
        background: linear-gradient(to bottom right, rgb(194, 61, 221) 10%,rgb(48, 23, 112) 100%);
        color: #ffffff;  
    }

    #cardLogin.card 
    {
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.281);
    }
      

    /* Form de Criar a area de login */ 



    /* Mensagem que aparece na tela */
    .msg {
        background-color: #D4EDDA;
        color: #155724;
        border: 1px solid #C3E6CB;
        width: 100%;
        margin-bottom: 0;
        text-align: center;
        padding: 10px;
      }

/* login  */




/* index */

    /* Titulos da pagina */
    #tituloInicialI
    {
        text-align: center; 
        padding-bottom: 2rem; 
        font-family:JetBrains Mono;
    }

    /* Cards */

        #tituloCardlogin
        {
            text-align: center; 
            font-size: larger;
            font-family:JetBrains Mono;
        }

        /* Index1 = Destaque */
        #tituloCardIndex1
        {
            padding-left: 5PX;
            text-align: start; 
            font-size: larger;
            font-weight: bold;
            font-family:JetBrains Mono;
        }
        /* Index2 = S. Destaque */
        #tituloCardIndex2
        {
            padding-left: 5PX;
            text-align: start; 
            font-size: larger;
            font-weight: normal;
            font-family:JetBrains Mono;
        }

        /* Configurações gerais dos cards do Index*/

        /* Index1 = Destaque */
        #cardBodyIndex1
        {
            border: 0;
            border-radius: 10px;
            font-weight: bold;
            padding-left: 3px;
            padding-bottom: 3px;
            padding-right: 3PX;
            color: #ffffff; 
            background: linear-gradient(270deg, rgba(255, 64, 129, 0.6) 0%, rgba(255, 64, 129, 0) 100%), #7C4DFF;
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.281);
        }

        /* Index2 = S. Destaque */
        #cardBodyIndex2
        {
            border: 0;
            border-radius: 10px;
            font-weight: normal;
            padding-left: 3px;
            padding-bottom: 3px;
            padding-right: 3PX;
            color: #ffffff; 
            background: linear-gradient(to bottom right, rgb(188, 63, 212) 10%,rgb(39, 11, 110) 100%);
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.281);
        }

        /* Index1 = Destaque */
        /* Joga o card pra frente. Função basica do hover né */ 
        #cardBodyIndex1.card:hover 
        {
            transform: scale(1.010);
            transition: all 0.01s ease-in-out;
            box-shadow: 0 8px 16px rgba(0,0,0,0.50);
        }

        /* Index2 = S. Destaque */
        #cardBodyIndex2.card:hover 
        {
            transform: scale(1.010);
            transition: all 0.01s ease-in-out;
            box-shadow: 0 8px 16px rgba(0,0,0,0.50);
        }
            
        /* Formatação da caixa de descrição */    
        #cardDescIndex
        {
            background-color: #ffffff;
            color: #1c1b1d;
            font-weight: normal;
            text-align: justify;
            font-size: 16px;
            padding: 20px;
            padding-top: 10px;
            line-height: 23px;

            border-radius: 10px 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            max-height: 150px; /* define o limite de 150 pixels de altura */
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6; /* limita o número de linhas */
        }

        /* Deixando o corpo dos cards mais finos, para parecer mais "janelas" */
        #cardJenalaIndex.card-body
        {
            padding-left: 5px; 
            padding-bottom: 5px; 
            padding-right: 5px;
        }

        /* Configurações gerais dos cards */
    
    /* Cards */    
          
/* index */



/* cursos */

    /* courses.create */

    #tituloInicialC
    {
        text-align: start; 
        font-family:JetBrains Mono;
        padding-bottom: 2rem;
    }

    #tituloCurso1
    {
        text-align: center; 
        padding: 10px; 
        font-family:JetBrains Mono;
    }

    #corpoCriarCurso
    {
        color: #ffffff;
        background-color: #1c1b1d;
        padding: 3rem;
    }

    #botaoCriar.btn-custom
    {
        margin-top: 1rem;   
        background-color: #b811b8;
        color: #ffffff;
        border: 0; 
    }

    #botaoCriar.btn-custom:hover 
    {
        margin-top: 1rem;   
        background-color: #701570;
        color: #ffffff;
        border: 0; 
        transform: scale(1.01);
        transition: all 0.01s ease-in-out;
    }

   
    /* courses.create */

/* cursos */

/* profile */

        /*imagem profile*/
        #imagemperfil
        {
            width: 160px;
            height: 160px;
        }

         /*fonte profile*/
         #tituloProfileI
         {
            font-size: 50px;
            font-family: 'Mukta', sans-serif;
            text-align: center;
         }

         /*BORDA DO CONTAINER PROFILE*/
         #profileborda
         {  
            border-width: 2px; 
            border-color: #000000;
            border: solid;
         }

         /*TAMANHO TEXTO LABEL TELA DE PROFILE*/
         #p-label
         {
            text-align: left;
            font-size: 20px;
         }

         /*AJUSTES DO INPUT DO FORM PROFILE*/
         #exampleInput1{
            border-color: black;
            width: 550px;
            margin-right: 5px;
         }

         #displayflex{
            display: flex;
         }

         #regua 
         {
            display:block; 
            padding:0; 
            margin: 10px 0; 
            width:100%; 
            height:1px; 
            background-color:#000000
        }
