/*navbar*/

#navbar d-flex-size{
    width: 600px;
}

#navbar nav-border{
    border: 0px;
    border-bottom: 5px;
    border-color: #6200EA;
    border-style: outset;
}

#sidebar offcanvas-start{
    color: aqua;
    background-color: #6200EA;
}